<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            <h2 class="mb-0">{{ blog.title }}</h2>
            <p class="text-sm-start fst-italic fw-light">Thời gian đọc: {{blog.timereading}}</p>
            <img class="img-fluid" src="{{blog.image}}" alt="{{ blog.title }}">
            <p class="blog-desc-detail"> {{ blog.description }} </p>
        </div>
    </div>
</div>